<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsdmasterindex.pgb-simplified-camera"
        version     = "1.0.0"
        android-versionCode = "100" >

        <!-- https://build.phonegap.com/current-support -->
        <preference name="phonegap-version" value="cli-6.0.0" />

        <name>PGB Simplified Example Camera plugin</name>
        <description>PGB Simplified Example Cordova 'Camera' plugin using cli-6.0.0; less CSS, less Javascript </description>
        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
        Jesse Monroy
        </author>

        <!-- Android SECTION -->
        <platform name="android" />

        <!-- PLUGINS PLUGINS -->
        <!-- cordova-plugin-file & cordova-plugin-compat are loaded automatically by Phonegap Build -->
        <plugin name="cordova-plugin-device" spec="~2.0.2" />
        <plugin name="cordova-plugin-camera" spec="~4.0.1" />

    </widget>
